<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- <servlet>과 <servlet-mapping>은 한 세트 -->
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

	</servlet>
	
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>*.do</url-pattern><!-- 다른 서블릿 매핑에 같은 urlpattern 쓰면 안됨 -->
	
	</servlet-mapping>

	<servlet>
		<servlet-name>member</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>member</servlet-name>
		<url-pattern>*.mem</url-pattern>
	</servlet-mapping>

</web-app>